.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.App-header {
  padding-top: 18px;
  padding-left: 15px;
  text-align: left;
  background: #bea0e5;
  color: white;
  font-size: 20px;
  height: 60px;
}

.title {
  text-align: center;
}

.message {
  text-align: center;
  width: 220px;
}
.App-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  gap: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.priority {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#main-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.join-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardDescription {
  width: 40%;
  overflow-wrap: break-word;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  border-radius: 25px;
  padding: 4px;
  margin: 2px;
}

#curMembers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 5px;
}

#curMembers > li {
  width: 100px;
  
}

.member1 {
  background: rgb(0, 183, 255);
}

.member2 {
  background: rgb(0, 255, 157);
}

.member3 {
  background: rgb(188, 124, 207);
}

.member4 {
  background: rgb(245, 238, 139);
}

.member5 {
  background: rgb(245, 139, 139);
}

.member6 {
  background: rgb(196, 230, 152);
}

.member7 {
  background: rgb(250, 190, 212);
}

.member8 {
  background: rgb(169, 169, 169);
}

.member9 {
  background: rgb(240, 50, 230);
}

.member10 {
  background: rgb(240, 248, 255);
}

.member11 {
  background: rgb(250, 235, 215);
}

.member12 {
  background: rgb(210, 105, 30);
}

.member13 {
  background: rgb(119, 136, 153);
}

.member14 {
  background: rgb(147, 112, 219);
}

.member15 {
  background: rgb(240, 128, 128);
}

.member16 {
  background: rgb(255, 160, 122);
}

.member17 {
  background: rgb(173, 216, 230);
}

.member18 {
  background: rgb(216, 191, 216);
}

.member19 {
  background: rgb(200, 112, 126);
}

.member20 {
  background: rgb(0, 191, 255);
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
