.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.cardDescription {
  width: 50%;
  overflow-wrap: break-word;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  border-radius: 25px;
  padding: 4px;
  margin: 2px;
}

.Yijing {
  background: rgb(0, 183, 255);
}

.Misha {
  background: rgb(0, 255, 157);
}

.Daniel {
  background: rgb(188, 124, 207);
}

.Jake {
  background: rgb(245, 238, 139);
}

.Iris {
  background: rgb(245, 139, 139);
}

.Carina {
  background: rgb(76, 127, 238);
}
